<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311988392982-q8h5fr689jv5gp0uri2ep3j817kvrklv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311988392982-q8h5fr689jv5gp0uri2ep3j817kvrklv</string>
	<key>API_KEY</key>
	<string>AIzaSyATQf95Tnr0-AhCzXTOesmoH1kuz6Mp2XY</string>
	<key>GCM_SENDER_ID</key>
	<string>311988392982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.manuj.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatworld-b0322</string>
	<key>STORAGE_BUCKET</key>
	<string>chatworld-b0322.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311988392982:ios:c710daf57778eeeafed137</string>
</dict>
</plist>